body {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: 300;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #ff3d00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e2c8c8;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}
/* .loaded .preloader {
  display: none;
} */

.cat-info {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
span {
  font-weight: bold;
}
.descr {
  width: 500px;
}
h2 {
  margin-left: 20px;
}
.error {
  display: none;
}
.loaded .preloader {
  display: none;
}
.loaded .breed-select {
  display: block;
}
.breed-select {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
